@{
    ViewData["Title"] = "Home Page";
}
<p>Welcome to GCU WAAAASSSSSSSSSSUUUUPPPP!!!</p>
<p>Please Register or Login</p>
<div>
    @Html.ActionLink("Register", "Register", "Home")
</div>
<div>
    @Html.ActionLink("Login", "Login", "Home")
</div>
</div>
