@model IEnumerable<GCUniversity.Models.Enrollment>

@{
    ViewData["Title"] = "StudentsInACourse";
}

    <h1>Students In each Course</h1>

<p>
    View a List of all available courses: <a asp-action="ListOfCourses">Courses</a>
</p>

<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Course.Name)
                    <td>
                        @foreach (var student in item.Course.Name)
                        {
                            @Html.DisplayFor(modelItem => item.Student.FirstName)
                            @Html.DisplayFor(modelItem => item.Student.LastName)
                        }
                    </td>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Index">Back to Home</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
