@model GrandCircusUniversity.Models.Enrollment


<h1>Grades</h1>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Grade)
        
                </th>
            </tr>
        </thead>
</table>