@{
    ViewData["Title"] = "Home Page";
}

<div class="wehere">
    <h1>Grand Circus University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Grand Circus University</h2>
        <p>
            Grand Circus  University is a the best school ever, hands down
        </p>
        <p>
            Please Register or Login
        </p>
        <a asp-controller="Students" asp-action="Create">Register a New Student</a>
        </p>
        </p>
        <a asp-controller="User" asp-action="Index">Login</a>
        </p>
    </div>
</div>